@import url(./typography.css);
@import url(./reset/variables.css);

#about-section {
    background-color: #eee;
}

.about-container {
    background-image: url("https://res.cloudinary.com/dxr7cjjpa/image/upload/v1746198836/IMG_20201211_141337_aj0aui.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 80vh;
}

.sombra {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1117;
    padding: 50px 0;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title-about {
    text-align: center;
    padding: 15px 0;
    color: #111;
    margin-bottom: 5px;
    font-size: var(--font-size-xl);
}

.divisor-left {
    width: 85%;
    margin: 0 auto;
    background-color: #222;
    border: 1px solid #222;
}

.about-container > h2 {
    margin-top: 40px;
    color: #111;
    margin-bottom: 5px;
    font-size: var(--font-size-xl);
}

.about-container > p {
    width: 95%;
    margin: 0 auto;
    color: #111;
}

.about-container > p::after {
    content: "...";
}

.text-about {
    font-family: sans-serif;
    font-size: var(--font-size-xl);
    color: #eeeeee;
    font-weight: 700;
    width: 90%;
}

.enlace-about {
    background-color: var(--thirt-color);
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: var(--font-size-md);
    color: #ffffff;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .divisor-left {
        background-color: transparent;
        border: none;
    }
    .sombra {
        height: 100%;
    }
}
