@import url("./reset/variables.css");

.form-section {
    display: flex;
    flex-flow: row-reverse nowrap;
    min-height: 100vh;
}

form {
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 15px;
    padding: 50px 0;
    padding-top: 20px;
}

.contact-h2 {
    text-align: center;
    font-family: sans-serif;
}

.logo-form {
    width: 150px;
    height: 150px;
}

.form-content {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 5px;
}

label {
    width: 100%;
    text-align: left;
    color: var(--main-color);
    font-size: 14px;
    font-weight: 700;
}

.input-form {
    width: 100%;
    border: 1px solid #ddd;
    min-height: 40px;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 13px;
    color: #666;
}

.input-form::placeholder {
    color: #aaa;
}
textarea.input-form {
    padding-top: 10px;
    height: 100px;
    resize: none;
}

.send-button {
    border-radius: 30px;
    background-color: var(--main-color);
    width: 80%;
    height: 35px;
    color: #fff;
    font-weight: 700;
}

video{ 
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 1024px) {
    form {
        width: 100vW;
    }
    .video {
        display: none;
    }
}
