@import url("./reset/variables.css");

.project-main-container {
    background-color: #eee;
    padding-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

.project-main-container > h2 {
    text-align: center;
    font-size: var(--font-size-xl);
}

.project-article {
    width: 90%;
    margin: 0 auto;
}

.descripcion-project {
    font-family: sans-serif;
    font-size: var(--font-size-sm);
    margin-top: 5px;
}

.botones-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    margin: 10px 0;
}

.boton-accion-project {
    border: 1px solid var(--thirt-color);
    background-color: var(--thirt-color);
    padding: 0 10px;
    font-size: var(--font-size-sm);
    font-weight: 700;
    border-radius: 4px;
    color: #eeeeee;
}

.img-project {
    border-radius: 4px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.project-div {
    width: 80%;
    height: 1px;
}

@media screen and (min-width: 1024px) {
    .project-article {
        display: flex;
        flex-flow: row nowrap;
        gap: 40px;
    }
    .project-article > section {
        width: 70%;
    }
    .img-project {
        height: 400px;
    }
}
